<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button label="Venta" icon="pi pi-plus" class="mr-2" (onClick)="show()" />
  </ng-template>
</p-toolbar>

<p-table #dt [value]="ventas" [rows]="10" [paginator]="true" [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true"
  dataKey="id" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true">
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h5 class="m-0">Administrar ventas</h5>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th pSortableColumn="numeroFactura" style="min-width:16rem">Venta <p-sortIcon field="numeroFactura" /></th>
      <th pSortableColumn="fecha" style="min-width: 12rem">Fecha <p-sortIcon field="fecha" /></th>
      <th pSortableColumn="total" style="min-width:10rem">Total <p-sortIcon field="total" /></th>
      <th pSortableColumn="estado" style="min-width: 12rem">Estado <p-sortIcon field="estado" /></th>
      <th pSortableColumn="tipoPago" style="min-width: 12rem">Tipo de pago <p-sortIcon field="tipoPago" /></th>
      <th style="min-width: 12rem">Acciones</th>
    </tr>
  </ng-template>
  <ng-template #body let-venta>
    <tr>
      <td class="font-bold text-primary">{{ venta.numeroFactura }}</td>
      <td>{{ venta.fecha | date:'dd/MM/yyyy HH:mm' }}</td>
      <td class="font-bold text-success">{{ venta.total | currency: 'USD' }}</td>
      <td>{{ venta.estado }}</td>
      <td>{{ venta.tipoPago }}</td>
      <td>
        <p-button icon="pi pi-search" class="mr-2" [rounded]="true" [outlined]="true" pTooltip="Ver Detalle" (onClick)="show(venta)" />
        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (onClick)="eliminar(venta)" />
      </td>
    </tr>
  </ng-template>
  <ng-template #summary>
    <div class="flex items-center justify-between">En total hay {{ ventas ? ventas.length : 0 }} ventas registradas.</div>
  </ng-template>
</p-table>
