<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button label="Venta" icon="pi pi-plus" class="mr-2" (onClick)="show()" />
    <!-- <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedventas()" [disabled]="!selectedventas || !selectedventas.length" /> -->
  </ng-template>
</p-toolbar>

<p-table #dt [value]="ventas" [rows]="10" [paginator]="true" [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true"
  dataKey="id" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true">
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h5 class="m-0">Administrar ventas</h5>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th pSortableColumn="numero_factura" style="min-width:16rem">
        Venta
        <p-sortIcon field="numero_factura" />
      </th>
      <th pSortableColumn="fecha" style="min-width: 8rem">
        Fecha
        <p-sortIcon field="fecha" />
      </th>
      <th pSortableColumn="total" style="min-width:10rem">
        Total
        <p-sortIcon field="total" />
      </th>
      <th pSortableColumn="estado" style="min-width: 12rem">
        Estado
        <p-sortIcon field="estado" />
      </th>
      <th pSortableColumn="tipo_pago" style="min-width: 12rem">
        Tipo de pago
        <p-sortIcon field="tipo_pago" />
      </th>
      <th style="min-width: 12rem"></th>
    </tr>
  </ng-template>
  <ng-template #body let-venta>
    <tr>
      <td style="min-width: 12rem">{{ venta.numero_factura }}</td>
      <td style="min-width: 16rem">{{ venta.fecha }}</td>
      <td>{{ venta.total | currency: 'USD' }}</td>
      <td>{{ venta.estado }}</td>
      <td>{{ venta.tipo_pago }}</td>
      <td>
        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" />
        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" />
      </td>
    </tr>
  </ng-template>
  <ng-template #summary>
    <div class="flex items-center justify-between">En total hay {{ ventas ? ventas.length : 0 }} ventas.</div>
  </ng-template>
</p-table>

<p-confirmDialog [style]="{ width: '450px' }" />
